# Dependencias
node_modules/
.pnp
.pnp.js

# Producción (Vite genera 'dist')
dist/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de entorno (Seguridad)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema Operativo (Mac/Windows)
.DS_Store
Thumbs.db

# Archivos de caché
.eslintcache
.stylelintcache